@model Projecto.Models.ViewModels.TicketForm

@{
    ViewData["Title"] = "Create Ticket";
    ViewData["FormAction"] = "Create";
    ViewData["SubmitText"] = "Create";
}

<h2>Create Ticket</h2>

@await Html.PartialAsync("_TicketForm", Model)