@model IEnumerable<Projecto.Models.Project>

@{
    ViewData["Title"] = "Projects Page";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Projects</h2>
    <a asp-action="Create" class="btn btn-primary">+ Add Project</a>
</div>

<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@project.Id" class="btn btn-info btn-sm"><i class="bi bi-eye"></i></a>
                    <a asp-action="Edit" asp-route-id="@project.Id" class="btn btn-info btn-sm"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>